/* latin-ext */
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v16/S6uyw4BMUTPHjxAwXjeu.woff2) format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
/* latin */
@font-face {
font-family: 'Lato';
font-style: normal;
font-weight: 400;
src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v16/S6uyw4BMUTPHjx4wXg.woff2) format('woff2');
unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html {
	scroll-behavior: smooth;
}

/* only for backgroundimage: */
html::before  {
	content: ' ';
  	display: block;
	background: url(./img/bg.jpg);
  	background-position: top;
	background-size: cover;
	height: 100vh;
	width: 100vw;
	bottom: 0;
	left: 0;
	right: 0;
	position: fixed;
	z-index: -10;
	scroll-behavior: smooth;
}

.spacer {
	margin-bottom:30px;
}

.spacerlong {
	margin-bottom:80px;
}

/* animation of infocards: */
.fly {
	animation: bottomfly 3s;
}

@keyframes bottomfly{
    from { margin-top: 70px; opacity: 0;}
    to   { margin-top: 0px; opacity: 1;}
}

/* headline on the top of the page: */
.blueText {
	color: #53a7ea;
	font-size: 70px; 
	font-style: normal; 
	font-variant: normal; 
	font-weight: 600; 
}

.textWhite {
	color: white;
}

.headline{
	height: 200px;
	width:100%;
	margin: auto;
	max-width: 1000px;
	animation: fadein 3s;
	font-family: "Lato"; 
	text-align: center;
	color:white;
	vertical-align: middle;
	background-color: rgba(0, 0, 0, 0.5);
	margin-bottom: 45vh;
    margin-top: 25vh;
}

.headline_secondpage{
	height: 200px;
	width:100%;
	margin: auto;
	max-width: 1000px;
	animation: fadein 3s;
	font-family: "Lato"; 
	text-align: center;
	color:white;
	vertical-align: middle;
	background-color: rgba(0, 0, 0, 0.5);
	margin-bottom: 100px;
    margin-top: 20px;
}

.spanBackground {
	background-color: rgba(0, 0, 0, 0.5);
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.icontext{
	min-height: 180px;
	margin: auto;
	vertical-align: middle;
	width: 80%;
	max-width: 1000px;
	animation: text 3s;
  	line-height: 0.7;
  	font-size: 40px; 
	font-style: normal; 
	font-variant: normal; 
	font-weight: 600; 
}

/* contact icons: */
.sys_contact {
  display:scroll;
  position:fixed;
  background-color: #53a7ea;
  background-position: 0px 0px;
  width: 50px;
  height: 50px;
  text-decoration: none;
  animation: leftfly 3s;
  color: white;
  font-size: 40px;
  text-align: center;
  padding-top: 5px;
  transition: width 1s;
}

.sys_contact:hover{
width: 100px;
}

.sys_phone {
  top:150px;
  left:0px;
}

.sys_mail {
  top:205px;
  left:0px;
}

.sys_map {
  top:260px;
  left:0px;
}

.sys_faq {
  top:315px;
  left:0px;
}

/* headline on the top of the page: */
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #53a7ea;
  color: white;
  transform: rotateY(180deg);
}

.jumptronwithspace {
	margin-right:15px;
	margin-left:15px;
	margin-top: 80px;
}

.flipspacerbottom {
	margin-bottom:20px;
}

.flipspacertop {
	margin-top:10px;
}

.topMargin {
	margin-top: 15vh;
}


@-webkit-keyframes downarrow {
	0% { -webkit-transform: translateY(0); opacity: 0.4 }
	100% { -webkit-transform: translateY(0.4em); opacity: 0.9 }
}

.arrow {
	border-color:transparent;
	border-style:solid;
	border-width:0 2em;
	display:block;
	height:0;
	margin:10em auto;
	opacity:0.4;
	text-indent:-9999px;
	transform-origin: 50% 50%;
	width:0;
}

.down {
	-webkit-animation: downarrow 0.6s infinite alternate ease-in-out;
	border-top:2em solid #53a7ea;
}  